@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --typeHeaderPrimary: Tiemann;
        --typeHeaderFallback: serif;
        --typeHeaderSize: 38px;
        --typeHeaderWeight: 400;
        --typeHeaderLineHeight: 1;
        --typeHeaderSpacing: 0em;

        --typeBasePrimary: Futura;
        --typeBaseFallback: sans-serif;
        --typeBaseSize: 16px;
        --typeBaseWeight: 400;
        --typeBaseSpacing: 0.025em;
        --typeBaseLineHeight: 1.6;

        --typeCollectionTitle: 18px;

        --iconWeight: 2px;
        --iconLinecaps: miter;

        --buttonRadius: 0px;
        --colorGridOverlayOpacity: 0.1;

        /* color paleate  */
        --colorBtnPrimary: #111111;
        --colorBtnPrimaryLight: #2b2b2b;
        --colorBtnPrimaryDim: #040404;
        --colorBtnPrimaryText: #ffffff;
        --colorLinkText: #2b00ff;
        --colorCartDot: #f0c7d7;
        --colorLink: #000000;
        --colorTextBody: #000000;
        --colorPrice: #1c1d1d;
        --colorTextSavings: #fd5496;
        --colorSaleTag: #1c1d1d;
        --colorSaleTagText: #ffffff;
        --colorBody: #ffffff;
        --colorBodyDim: #f2f2f2;
        --colorFooter: #ffffff;
        --colorFooterText: #000000;
        --colorBorder: #e8e8e1;
        --colorNav: #ffffff;
        --colorNavText: #000000;
        --colorAnnouncement: #0f0f0f;
        --colorAnnouncementText: #ffffff;
        --colorHeroText: #ffffff;
        --colorModalBg: #e6e6e6;
        --colorImageOverlay: #000000;
        --colorImageOverlayOpacity: 0.1;
        --colorImageOverlayTextShadow: 0.2;
        --colorSmallImageBg: #ffffff;
        --colorLargeImageBg: #0f0f0f;
        --colorGridOverlay: #000000;
        --colorGridOverlayOpacity: 0.1;
        --colorDrawers: #ffffff;
        --colorDrawersDim: #f2f2f2;
        --colorDrawerBorder: #e8e8e1;
        --colorDrawerText: #000000;
        --colorDrawerTextDark: #000000;
        --colorDrawerButton: #111111;
        --colorDrawerButtonText: #ffffff;
        --grid-gutter: 17px;
        --color-body-text: #000000;
        --color-body: #ffffff;
        --color-bg: #ffffff;
    }
}

@layer components {
    /* Navbar CSS */
    .sidebar {
        @apply fixed h-dvh w-full min-[400px]:w-[25rem];
    }

    .nav-button {
        @apply relative w-max uppercase leading-none transition-all duration-500 ease-in-out after:absolute after:left-0 after:top-6 after:h-0.5 after:w-full after:origin-left after:scale-x-0 after:bg-black after:transition-all after:duration-500 after:ease-in-out;
    }

    .screen-h {
        @apply min-h-[calc(100vh_-_4.5rem)];
    }

    .drawer-h {
        @apply min-h-[calc(100vh_-_4rem)];
    }

    /* Default Styling */
    .back-button {
        @apply flex cursor-pointer items-center gap-2 text-xs uppercase transition-colors;
    }

    /* Default Website Spacing */
    .p {
        @apply p-6 sm:p-8;
    }

    .p-x {
        @apply px-6 sm:px-8;
    }

    .gap-x {
        @apply gap-6 sm:gap-8;
    }

    .pagination-wrapper ul {
        @apply flex gap-2;
    }

    .pagination-wrapper ul li.selected a {
        @apply bg-black text-white;
    }

    .pagination-wrapper ul li a {
        @apply flex h-10 w-10 items-center justify-center rounded-full hover:bg-gray-300;
    }
}

@layer utilities {
    .banner-top-space {
        @apply pt-[40px] lg:pt-[100px];
    }
}

.placeholder-content {
    background-image: linear-gradient(
        100deg,
        #ffffff 40%,
        #f7f7f7 63%,
        #ffffff 79%
    );
}

body {
    color: var(--colorTextBody);
    background-color: var(--colorBody);
    font-weight: var(--typeBaseWeight);
}

.faux-select,
body,
button,
input,
select,
textarea {
    font-family: var(--typeBasePrimary), var(--typeBaseFallback);
    font-size: calc(var(--typeBaseSize) * 0.85);
    letter-spacing: var(--typeBaseSpacing);
    line-height: var(--typeBaseLineHeight);
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
}

.shadowFull {
    box-shadow: 0 0 8px #b4acac;
}

/* Quill editor styling */
.ql-container.ql-snow {
    min-height: 50vh;
}

.attribute-list {
    /* display: table;
    border-collapse: collapse; */
}
.attribute-list .attribute-item {
    display: flex;
    border: 1px solid #dddddd;
    width: 100%;
    /* justify-content: space-between; */
    gap: 10px;
    align-items: center;
}
.attribute-list .attribute-item > div.left {
    width: 100%;
    background: #f4f4f4;
    padding-top: 5px;
    padding-bottom: 5px;
}
.attribute-list .attribute-item > div.right {
    width: 100%;
}
.attribute-list .attribute-item > div.right {
    font-weight: 500;
    font-size: 16px;
    color: #222;
    line-height: 22px;
}
