.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination > li {
    position: relative;
    /* border-bottom-width: 1px; */
}

.pagination > li > a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination > li.disabled {
    display: none;
}

.pagination > li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    /* transition: transform 0.3s ease-in-out; */
}

.pagination > li.selected::after {
    transform: scaleX(100%);
}
